@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: roobert;
    src: url(fonts/Roobert-Regular.ttf);
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html{
    margin:0;
    padding:0;
    
    scroll-behavior: smooth;
    
}

.navbar{
    background: rgba(0,150,0,0.5);
}

body{
    font-family: roobert;
    display: flex;
    min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
    background: #FFF;
    margin:0;
    padding:0;
    overflow-x:hidden;
    color:black;
    text-align: center;
}

.navbar{
    font-family: 'Bebas Neue', cursive;
}

h1{
    font-family: 'Bebas Neue', cursive;
    margin:0;
    padding:0;
    font-size:60px;
    margin-top:30px;
}

p{
    margin:0;
   
    padding:0;
    font-size:23px;
    margin-bottom:15px;
}

.email{
    color:#7ba083;
}

.contactcontainer{
    width:100%;
    padding:0;
    margin:0;
    position: relative;
}

.contactbox{
    width:min(600px,85%);
    padding:0;
    margin:0;

    position: relative;
    left:50%;
    transform: translateX(-50%);
}
#hiddennavbar{
    font-family: 'Bebas Neue', cursive;
}


.dropdowncontent{
    background: rgba(0,150,0,0.5);
    text-align: left;
}

button.button {
    height: 50px;
    font-family: roobert;
    border: 1px solid #7ba083;
    background-color: transparent;
    color: #7ba083;
    width: 60%;
    padding: 12px 0px;
    font-size: 18px;
    font-weight: 400;
    background: transparent;
    cursor: pointer;
    display: inline-block;
  
    margin-top: 15px;
    border-radius: 3px;
    text-transform: capitalize;
  }
  
  button.button {
    background-image: linear-gradient(0, #7ba083, #7ba083);
    background-size: 0;
    transition: 0.6s;
    background-repeat: no-repeat;
  }
  
  button.button:hover {
    background-size: 100%;
    color: #fff;
  }
  
  button:focus {
    outline: none;
  }
  
  .contactinput {
    text-align: left;
    margin: 0;
    padding: 10px;
    font-family: roobert;
    font-weight: 400;
    width: calc(100% - 22px);
    outline: none;
    margin-top: 13px;
    font-size: 17px;
    padding-top:20px;
    padding-bottom:20px;
  
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    transition: all 0.4s ease;
    height: 20px;
  }
  
  .messageinput {
    height: 150px;
    transition: width 0s;
    transition: height 0s;
    display: block;
    left:50%;
    transform: translateX(-50%);
    position: relative;
    padding-top:8px;
    font-family: roobert;
  }
  
  .contactinput:focus {
    border-color: #7ba083;
  }
  
  .contactinput:focus {
    outline: none;
  }
  
  .emailicon {
    top: 0;
    margin-left: 5px;
    margin-right: 10px;
  }
  
  .person {
    top: 0;
    margin-left: 10px;
    margin-right: 5px;
  }
  
  .contactfooter {
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    height: 150px;
    top: 20px;
    display: flex;
    align-items: center;
  }
  
  #nameerror, #emailerror, #messageerror {
      display: none;
      width: 100%;
      
      margin: 0;
      padding: 2px 0px;
      background-color: #dc3545;

      font-weight: bold;
      z-index: 1;
      color: #fff;
      border-width: 0;
      border-radius: 0px 0px 3px 3px;
    }
  
    .inputerror{
      border-color:#dc3545; 
      border-width:thin; 
      border-radius: 3px 3px 0px 0px;
    }


    .footer{
      width:60%;
      display: block;
      position: relative;
      left:50%;
      transform: translate(-50%);
      border-top:2px solid #000000;
      padding-bottom:15px;
      margin-top:30px;
    
    }
    
    .copyright{
      text-align: left;
      font-family:roobert;
      font-size:15px;
      color:black;
    }




@media screen and (max-width: 800px){

    h1{
        margin-top:110px;
    }

    .navbar{
        background: rgba(0,150,0,0.5);
    }
    .navbar.is-active{
        background:transparent;
    }
  
  
  }