

.navbar {
    
    z-index:1000;
    position: sticky;
    top:0;
    width: 100%;
    height: 80px;
    display: block;
    background: rgba(0,0,0,0.6);
    line-height: 80px;
  }
  
  .navlink {
    transition: all .2s;
    color: white;
    vertical-align: middle;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.2em;
    letter-spacing: 1px;
    padding: 10px 13px;
    
  }
  
  .link {
    position: relative;
  }
  
  
  .otherlinks {
    padding:0;
    margin:0;
    left:30px;
    display: inline-block;
    position: absolute;
  }

  
  .navlink:hover {
    color: #8EB897;
  }

  .burgerwrapper {
    position: relative;
    float: left;
    margin-left: min(5.3vw, 40px);
    height: 80px;
  }

  .hamburger {
    z-index:1000;
    display: none;
    vertical-align: middle;
  }
  
  .hamburger:hover {
    cursor: pointer;
  }
  
  .hamburger .line {
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  #hamburger-1.is-active .line:nth-child(2) {
    opacity: 0;
  }
  
  #hamburger-1.is-active .line:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    -o-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
  }
  
  #hamburger-1.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    -o-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
  }

  #hiddennavbar {
    opacity: 0;
    display: block;
    z-index: -10;
    height: 100vh;
    width: 100vw;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-y: scroll;
  }

  .hiddenlinkwrapper {
    width: 200px;
  
    display: block;
    top: 50vh;
  
    position: absolute;
    left: 50%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
  }

  .hiddenlink {
    font-size: 2em;
    text-decoration: none;
    display: block;
    padding-top:10px;
    padding-bottom:10px;
    color: rgb(255, 255, 255);
    margin-top: 25px;
    text-align: center;
    margin-bottom: 25px;
    transition: 0.2s;
  }

  .hiddenlink:hover{
    color:#8EB897;
  }

  

  .dropdown{
    display: inline-block;
    padding:0;
    margin:0;
    
  }

  .dropicon{
    transition: transform .2s;
  }

  .dropdowncontent{
    display: none;
    position: absolute;
    left:125px;
    top:80px;
    padding:20px;
    padding-top:0px;
    background-color: rgba(0, 0, 0, 0.6);
}

.linkdrop{
    font-size: 2em;
    text-decoration: none;
    display: block;
    padding-top:10px;
    padding-bottom:10px;
    color: rgb(255, 255, 255);
    margin-top: 25px;
    text-align: center;
    margin-bottom: 25px;
    transition: 0.2s;
}

.linkdrop:hover{
    
    color:#8EB897;
  }

.hiddendropdown{
    display: none;
    position: absolute;
    padding:10px;
    padding-top:5px;
    padding-bottom:5px;
    z-index: 18234102341;
    background-color: #232323;
}

  .hoverlink{
    display: block;
    margin:0;
    padding:0;
    transition: all .2s;
    color: white;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 1px;
    padding:0;
    top:0;
    line-height:1.2em;
    padding-top:25px;
    padding-bottom:25px;

    height:30px;
    
  }

  .hoverlink:first-of-type{
    padding-top:10px;
  }

  .hoverlink:hover{
    color:#8EB897;
  }



@media screen and (max-width: 800px){

    .navbar{
        background:transparent;
    }
    #navbar{
        position: fixed;
        top:0;
    }
    .hamburger {
        display: inline-block;
    }
    .otherlinks {
        display: none;
    }
    #hiddennavbar.is-active {
        z-index: 20;
        animation: slideInLeft 0.75s ease both;
        opacity: 1;
    }

    .navbar.is-active{
      background:transparent;
    }
    
    #hiddennavbar.is-removed {
        z-index: 20;
        animation: slideOutLeft 0.75s ease both;
        opacity: 1;
    }
    .htmlnav {
        overflow-y: hidden;
    }
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-100vw);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOutLeft {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(-100vw);

    }
  }