@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: roobert;
  src: url(fonts/Roobert-Regular.ttf);
}

body{
    font-family: 'Bebas Neue', cursive;
    background: white;
    margin:0;
    padding:0;
    overflow-x:hidden;
}

.titlecontainer{
    
    width:100vw;
    height:100vh;
    background-color: rgb(51, 197, 51);
    
}

.titlegradient{
    width:100%;
    height:90%;
    position: absolute;
    top:0;
    left:0;
    background-image: linear-gradient( rgba(0, 0, 0, 1),rgba(0, 0, 0, 1),rgba(0, 0, 0, 1),rgba(0, 0, 0, 1),rgba(0, 0, 0, 0));
}

.titlebox{
    width:100%;
    top:50%;
    position: relative;
    transform:translateY(-50%);
    display: inline-block;


}


.titletext{
    font-size:130px;
    color:white;
    
    background-color: transparent;
    position: relative;
    padding:0;
    margin:0;
    
    
    text-align:center;


    line-height:130px;

    display: block;

}

.titleparagraph{
    margin:0;
    padding:0;
    color:white;
    text-align:center;
    position: relative;
    display: block;
    font-size:40px;
    width:50%;
    left:50%;
    transform: translateX(-50%);
}

.enrichmentcontainer{
    width:100%;
    background-color: white;
    display: block;
    margin:0;
    padding:0;
    position: relative;
    
}

.firstcontainer{
  left:50%;
  transform: translateX(-50%);
  width: min(80%, 1120px);
  display: block;
  
  padding:0;
  margin:0;
  margin-top:80px;
  
  position: relative;
 
}


.enrichmentbox{
    display: inline-block;
    
    width: 60%;
    
    position: relative;

}

.enrichmenttitle{
    font-size:60px;
    color:black;
    position: relative;
    padding:0;
    padding:0;
    line-height:60px;
    margin:0;

    display: inline-block;
}

.enrichmentparagraph{
    color:black;
    width:100%;
    font-size:25px;
    padding:0;
    line-height:1.3em;
    letter-spacing: -0.5px;
    padding:0;
    margin:0;
    margin-top:10px;
    position: relative;
    text-align: left;
    font-family: roobert;
}

.enrichmentimg{
  position: absolute;
  right:0;
  width: 35%;
  /*border:2px solid #000000;*/
  
  padding:10px;
  background-color: rgb(235, 220, 202);
  border-radius: 5px;
  
  top:50%;
  transform: translateY(-50%);

}

.codingcontainer{
  width: min(70%, 980px);
  position: relative;
  text-align: center;
  left:50%;
  transform: translateX(-50%);
  margin-top:80px;
  border-top:2px solid #000000;
}

.codinginfohead{
  
  font-size:35px;
  text-align: right;
  margin:0;
  margin-top:40px;
  padding:0;
}

.codinginfopar{
  
  font-size:25px;
  text-align: right;
  margin:0;
  padding:0;
  font-family: roobert;
}

.leftcodingcontainer{
  width: min(70%, 980px);
  position: relative;
  left:50%;
  transform: translateX(-50%);

  margin-top:40px;
  border-top:2px solid #000000;
}

.codinginfoheadleft{
  font-size:70px;
  text-align: left;
  margin:0;
  margin-top:40px;
  padding:0;
}

.codinginfosmallhead{
  font-size:40px;
  text-align: left;
  margin:0;
  padding:0;
}

.codinginfoparleft{
  font-size:25px;
  text-align: left;
  margin:0;
  margin-bottom:30px;
  padding:0;
  font-family: roobert;
  line-height: 1.4em;
}



.scratchimagecontainer{
  left:50%;
  transform: translateX(-50%);
  width: min(70vw, 980px);
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-items: center;
  grid-column: 1;
  justify-content: space-around;
  position: relative;
  margin-top:20px;
  margin-bottom:80px;
  border-radius:15px;
  background-color: rgb(235, 220, 202);
}

.imageinside{
  padding:20px;
  width:clamp(180px,calc(17.5vw - 25px), 220px);
}


.scratchimage{
  margin:0;
  padding-right:0;
  
}



.meteachingimage{
  margin:0;
  
  
  padding-right:0;
}

.babycodeimage{
  margin:0;
  
  

  padding-right:0;
  
}

.babyscreenshot{
  margin:0;
 

 
}


/* navbar*/




.navbar {
    
  z-index:1000;
  position: sticky;
  top:0;
  width: 100%;
  height: 80px;
  display: block;
  background: rgba(0,0,0,0.6);
  line-height: 80px;
}

.navlink {
  transition: all .2s;
  color: white;
  vertical-align: middle;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.2em;
  letter-spacing: 1px;
  padding: 10px 13px;
  
}

.link {
  position: relative;
}


.otherlinks {
  padding:0;
  margin:0;
  left:30px;
  display: inline-block;
  position: absolute;
}


.navlink:hover {
  color: #8EB897;
}

.burgerwrapper {
  position: relative;
  float: left;
  margin-left: min(5.3vw, 40px);
  height: 80px;
}

.hamburger {
  z-index:1000;
  display: none;
  vertical-align: middle;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger .line {
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  -o-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  -o-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}

#hiddennavbar {
  opacity: 0;
  display: block;
  z-index: -10;
  height: 100vh;
  width: 100vw;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  background-color: #000000;
}

.hiddenlinkwrapper {
  width: 200px;

  display: block;
  top: 50vh;

  position: absolute;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

.hiddenlink {
  font-size: 2em;
  text-decoration: none;
  display: block;
  padding-top:10px;
  padding-bottom:10px;
  color: rgb(255, 255, 255);
  margin-top: 25px;
  text-align: center;
  margin-bottom: 25px;
  transition: 0.2s;
}

.hiddenlink:hover{
  color:#8EB897;
}

.dropdown{
  display: inline-block;
  padding:0;
  margin:0;
  
}

.dropicon{
  transition: transform .2s;
}

.dropdowncontent{
  display: none;
  position: absolute;
  left:125px;
  top:80px;
  padding:20px;
  padding-top:0px;
  background-color: rgba(0, 0, 0, 0.6);
}

.linkdrop{
  font-size: 2em;
  text-decoration: none;
  display: block;
  padding-top:10px;
  padding-bottom:10px;
  color: rgb(255, 255, 255);
  margin-top: 25px;
  text-align: center;
  margin-bottom: 25px;
}

.hiddendropdown{
  display: none;
  position: absolute;
  padding:10px;
  padding-top:5px;
  padding-bottom:5px;
  z-index: 18234102341;
  background-color: #232323;
}

.hoverlink{
  display: block;
  margin:0;
  padding:0;
  transition: all .2s;
  color: white;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: 1px;
  padding:0;
  top:0;
  line-height:1.2em;
  padding-top:25px;
  
  height:30px;
  
}

.hoverlink:first-of-type{
  padding-top:10px;
}

.hoverlink:hover{
  color:#8EB897;
}




/* end of navbar*/


.footer{
  width:60%;
  display: block;
  position: relative;
  left:50%;
  transform: translate(-50%);
  border-top:2px solid #000000;
  padding-bottom:15px;

}

.copyright{
  text-align: left;
  font-family:roobert;
  font-size:15px;
  color:black;
}

@media screen and (max-width: 1200px) {
  .enrichmentimg{
    width: 70%;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    margin-top:50px;
  }

  .scratchimagecontainer{
    width: 500px;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    grid-column: 1;
    justify-content: space-around;
    
  }

  .imageinside{
    width:200px;
    padding-top:10px;
    padding-bottom:10px;
  }

  



  .enrichmentbox{
    left:50%;
    width: 90%;
    transform: translateX(-50%);
  }


}

@media screen and (max-width: 800px){




  #navbar{
      position: fixed;
      top:0;
  }
  .hamburger {
      
      display: inline-block;
  }
  .otherlinks {
      display: none;
  }
  #hiddennavbar.is-active {
      z-index: 20;
      animation: slideInLeft 0.75s ease both;
      opacity: 1;
  }
  
  #hiddennavbar.is-removed {
      z-index: 20;
      animation: slideOutLeft 0.75s ease both;
      opacity: 1;
  }
  .htmlnav {
      overflow-y: hidden;
  }

  .enrichmentbox{
    margin-top:50px;
  }


}

@media screen and (max-width:713px) {
  .enrichmenttitle{
    font-size:40px;
    line-height:1.1em;
  }
  .enrichmentparagraph{
    font-size:23px;
  }

  .codingcontainer{
    width: 85%;
  }
  .leftcodingcontainer{
    width: 85%;
    margin-top:40px;
  }

  .codinginfoheadleft{
    font-size:60px;

  }
  .codinginfosmallhead{
    font-size:35px;

  }

  .codinginfoparleft{
    font-size:22px;

    margin-bottom:20px;

    line-height: 1.4em;
  }

  .codinginfohead{
  
    font-size:35px;

  }
  
  .codinginfopar{
    
    font-size:22px;
    text-align: right;
    line-height: 1.4em;
    margin:0;
    padding:0;
    font-family: roobert;
  }

  .footer{
    width:90%;
  }

  .firstcontainer{
    width:90%;
  }



}

@media screen and (max-width:550px) {
  .scratchimagecontainer{
    width: 400px;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    grid-column: 1;
    justify-content: space-around;
    margin-bottom:30px;
  }

  .imageinside{
    width:170px;
    
  }
}

@media screen and (max-width:420px){
  .scratchimagecontainer{
    width: 310px;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    grid-column: 1;
    justify-content: space-around;
    padding:20px;
    
  }

  .imageinside{
    width:150px;
    padding:0;
  }
  .scratchimage{
    display: none;
  }

  .babyscreenshot{
    display: none;
  }
}


@keyframes slideInLeft {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100vw);
   
  }
}