@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: roobert;
    src: url(fonts/Roobert-Regular.ttf);
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html{
    margin:0;
    padding:0;
    
    scroll-behavior: smooth;
    
}


body{
    font-family: 'Bebas Neue', cursive;
    background: #000000;
    margin:0;
    padding:0;
    overflow-x:hidden;
}


.sooncontainer{
    width:400px;
    display: inline-block;
    position: absolute;
    color:white;
    left:50%;
    top:50%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
}


.button:active {
    transform: translateX(-50%) translateY(3px);
  }

.button{
    
    position: relative;
    bottom:10px;
    left:50%;
    transform: translateX(-50%);
    letter-spacing: 2px;
	text-transform: uppercase;
    border-radius: 40px;
    font-weight: 600;
    float: left;
    font-size: 14px;

	display: block;
    border: 2px solid;
	cursor:pointer;
	padding: 1em 2em;
	border-color: white;
	background: none;
	color: inherit;
	
	z-index: 1;
	

}
.button--winona {
	overflow: hidden;
	padding: 0;
	-webkit-transition: border-color 0.3s, background-color 0.3s, transform 0.2s;
	transition: border-color 0.3s, background-color 0.3s, transform 0.2s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--winona::after {
	content: attr(data-text);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	color: #8EB897;
	-webkit-transform: translate3d(0, 25%, 0);
	transform: translate3d(0, 25%, 0);
}
.button--winona > span {
	display: block;
    color:white;
}

.button--winona::after,
.button--winona > span {
	padding: 1em 2em;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--winona:hover {
	border-color: #8EB897;
	background-color: rgba(0, 0, 0, 0.2);
}

.button--winona:hover::after {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.button--winona:hover > span {
	opacity: 0;
	-webkit-transform: translate3d(0, -25%, 0);
	transform: translate3d(0, -25%, 0);
}
.button:focus {
    outline: none;
    box-shadow: none;
    
  }



.button > span {
	vertical-align: middle;
}

/* end of button */

.buttondown{
    
    cursor: pointer;
}